.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/*carsd*/
.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  text-shadow: 2px 2px black;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
/*card end*/



/**border*/

.draw-border {
  transition: box-shadow .3s;
  margin: 50px;
  border-radius: 5px;
  background: #fff;
  float: left;
  
}
.draw-border:hover {
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  color: white;
}
/*border end*/

/*custom css*/

html, body {
  height: 100%;
}

.full-height {

  min-height: 1000px;
 
  height: 100% !important;
  padding: 0px !important;
  width: 100%;
  background: #333;
  /* background: linear-gradient(to bottom, black,black, rgb(2, 2, 80)); */
  color: white;
}
.footer {
  text-align: center;
  position: fixed;
  font-size: xx-small;
  height: 20px;
  bottom: 0;
  width: 100%;
  color: grey;
  background-color: black;
  border-top: 1px solid grey;
}

.nopadding {
  padding: 0;
}

.title {
  align-items: center;
  color: #E4E5E6;
  display: flex;
  font-family: 'Impact', sans-serif;
  text-shadow: 2px 2px black;
}
.navbar.bg-dark {
  background-color: #333!important;
  background-image: url('/images/header.png');
  background-size: 300px;
  background-repeat: no-repeat;
  background-origin: content-box, padding-box;

  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  border-width: 0;
}
.normaltext {
  padding: 10 10 10 10 px!important;
  margin: 10px!important;
  text-align: center;
}

.pageTitle{
  font-size: large;
}
.tile {
  max-width: 340px;

}
.tileWide {
  color: rgb(177, 172, 145);
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: #333;; 
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
}
.tileHeader{
  color: white;
  font-size: large;
}

.tileBody{
  padding: 25px 15px;
  min-height: 200px;
}

.tileContainer{
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}